.login-card {
    /*width: 50rem;*/
    width: 60rem;
    height: 23rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

}

.login-username {
    margin-top: 10px;
    margin-left: 100px
}


.login-button {
    margin-top: 20px;
    margin-left: 50px;
}

.spotify_id {
    margin-left: 50px
}

.following-btn {
    background-color: cadetblue;
}



